html {
    position: relative; /* sticky footer */
    min-height:  100%;
}

body {
    margin-bottom: 60px; /* sticky footer margin */
}

/* sticky footer */
footer {
    position: absolute;
    border-top: 1px solid #cccccc;
    bottom: 0;
    width: 100%;
    height: 60px;
    padding: 10px 0;
    font-size: 15px;
    color: #666666;
}

footer a:link {
    color: #666666;
}

footer a:visited {
    color: #666666;
}